<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
/>
<h1 class="text-center text-primary">TODO LIST</h1>
<div class="container">
  <div class="box">
    <!-- <label for="add">Task Name</label> -->
    <div class="input-fields">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="taskname"
        placeholder="Enter your  task name"
      />
      <button type="submit" class="btn btn-success" (click)="addtask()">
        Add task
      </button>
    </div>
    <h3 class="text-center bg-light m-4 text-danger">Tasks List</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>SI.No</th>
          <th>Task Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.id }}</td>
          <td>{{ task.taskname }}</td>
          <td>
            <button
              type="button"
              class="btn btn-outline-light text-danger"
              (click)="deletetask(task.id)"
              data-bs-toggle="modal"
              data-bs-target="#myModal"
            >
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
