.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 50%;
  height: auto;
}
.input-fields {
  display: flex;
  flex-direction: row;
}
.box input {
  width: 70%;
  height: auto;
}
button {
  float: right;
}
